* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
.tittle {
    font-weight: normal;
    font-size: 45px;

}

.container {
    width: 100%;
    height: 100vh;
    margin: 50px;
}

.container-info {
    display: flex;
    margin-bottom: 15px;
    font-size: 25px;
}

.container-img {
    display: flex;
    padding: 15px 0;
}

.container-img img{
    border-radius: 10px;
}

.container-img-secundary{
    flex-wrap: wrap;
    padding: 10px;
}

.container-img-secundary-colum{
    flex-direction: column;
}

.description {
font-size: 27px;
}

.description-text {
    font-size: 17px;
}

.container-bottom {
    margin-top: 20px;
    display: ;
}

.price{
    flex-direction: row;
}

